:root {
  --layout-max-width: 1000px;
  --outer-margin: 1.5rem;
  --inner-margin: 16px;
  /* as MUI*/
  --bd-radius: 0.25rem;
  --navbar-height: 48px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

body {
  overflow-y: scroll !important;
}

a {
  color: inherit;
  text-decoration: none;
}


ul {
  list-style-type: none;
}

body> :is(header, main, section, footer):not(.navbar) {
  margin: auto;
  width: var(--layout-max-width);
  max-width: 95%;
  /* DEV */
  background-color: rgba(255, 255, 255, 0.1);
  /* END DEV */

  padding: var(--inner-margin);
  overflow: hidden;

  border-radius: var(--bd-radius);
  overflow: hidden;
  margin-bottom: 0.5rem;

  & a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 600px) {
  :root {
    --navbar-height: 56px;
    --inner-margin: 24px;
  }
}