:root {
  --layout-max-width: 1200px;
  --outer-margin: 0.75rem;
  --inner-margin: 16px;
  /* as MUI*/
  --bd-radius: 0.25rem;
  --navbar-height: 48px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

html {
  overflow-y: scroll !important;
}

a {
  color: inherit;
  text-decoration: none;
}


ul {
  list-style-type: none;
}

body>section.section {
  margin: auto;
  width: calc(100svw - 2 * var(--outer-margin));
  max-width: var(--layout-max-width);
  /* DEV */
  background-color: rgba(255, 255, 255, 0.1);
  /* END DEV */

  padding: var(--inner-margin);

  border-radius: var(--bd-radius);
  overflow: hidden;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 600px) {
  :root {
    --navbar-height: 56px;
    --inner-margin: 24px;
    --outer-margin: 1.25rem;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --outer-margin: 2rem;
  }
}