.label {
  font-weight: bold;
  text-transform: capitalize;
}

.previewValue {
  text-transform: lowercase;
}

.invalidValue {
  color: red;
}

.empty {
  font-weight: bold;
}

.notEmpty {
  font-style: italic;
}