.label {
  font-weight: bold;
  text-transform: capitalize;
}

.input:hover::after {
  border-color: red;
}

.previewValue {
  margin-bottom: 0.5rem;
  text-transform: lowercase;
}

.invalidValue {
  color: red;
}

.empty {
  font-weight: bold;
}

.notEmpty {
  font-style: italic;
}

.messageError {
  margin: auto;
  text-align: center;
  color: red;
}