.navbar {
    border-radius: var(--bd-radius);
    overflow: hidden;
    margin: var(--outer-margin) auto;
    width: 95%;
    max-width: var(--layout-max-width);
}

.navbarBrand {
    text-transform: uppercase;
}